@()

@main("YouTube Remote") {
    <script>
    var openPlayer=function() {
        window.open("player", '_blank')
    }

    var openRemote=function() {
        window.location.href="remote"
    }
    </script>
} {
    <div class="center-block text-center">
        <h1>YouTube remote control</h1>
        <p>This application allows to search videos on YouTube and to play them in another browser</p>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-lg-5 btn btn-primary" onclick="openPlayer();">
            <h4>Player</h4>
            <img class="img-rounded" src="@routes.Assets.at("images/child-television_1358457c.jpg")">
            <br/>
        </div>
        <div class="col-lg-5 col-lg-offset-2 btn btn-primary" onclick="openRemote();">
            <h4>Remote</h4>
            <img class="img-rounded" src="@routes.Assets.at("images/111210_pillow_remote_control_1.jpg")">
            <br/>
        </div>
    </div>
}