@(playerId:Int)

@main("YouTube Remote") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")"></script>

} {
    <div class="center-block text-center" xmlns="http://www.w3.org/1999/html">
        <h1>Successfully connected</h1>
        <p>Player ID: @playerId</p>
    </div>

    <hr/>

    <form class="form-inline" role="form">
        <div class="form-group  col-sm-6">
            <input type="text" id="query" class="form-control" placeholder="Search" ng-model="searchQuery">
        </div>
        <div class="form-group">
            <div class="btn btn-primary form-control" ng-click="onSearch()">Search</div>
        </div>
    </form>

    <hr/>

    <div class="panel panel-danger" ng-show="searchError">
        <div class="panel-heading">
            <h3 class="panel-title">Search error</h3>
        </div>
        <div class="panel-body"><pre>{{searchError}}</pre></div>
    </div>

    <div class="panel panel-danger" ng-show="playError">
        <div class="panel-heading">
            <h3 class="panel-title">Play error</h3>
        </div>
        <div class="panel-body"><pre>{{playError}}</pre></div>
    </div>

    <div class="panel panel-success" ng-show="playStatus">
        <div class="panel-heading">
            <h3 class="panel-title">Playing status</h3>
        </div>
        <div class="panel-body">
            <h4>{{playStatus.status}}</h4>
            <img ng-src="{{playStatus.thumbnail}}"/>
        </div>
    </div>

    <table class="table" ng-hide="searchError">
        <tr ng-repeat="item in searchResults.items">
            <td>
                <h4>
                    <div class="btn btn-default" ng-click="onPlay(@playerId, item.id.videoId, item.snippet.thumbnails.default.url)">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                    {{item.snippet.title}}
                </h4>
                {{item.snippet.description}}
            </td>
            <td><img src="{{item.snippet.thumbnails.default.url}}"></td>
        </tr>
    </table>
}