@(playerId:Int)

@main("YouTube Remote") {

    <script>

      var onSearch = function (evt) {
          var query = $('#query' ).val()
          jsRoutes.controllers.Application.search(query).ajax( ).done(function(res) {
              alert(res.test);
          } ).fail(function(res) {
              console.log('Search failed:'+res.responseText);
          });
      }
    </script>
} {
    <div class="center-block text-center" xmlns="http://www.w3.org/1999/html">
        <h1>Successfully connected</h1>
        <p>Player ID: @playerId</p>
    </div>

    <hr/>

    <form class="form-inline" role="form">
        <div class="form-group  col-sm-6">
            <input type="text" id="query" class="form-control" placeholder="Search"/>
        </div>
        <div class="form-group">
            <div class="btn btn-primary form-control" onclick="onSearch()">Search</div>
        </div>
    </form>

    <hr/>

    <table class="table">
        <tr ng-repeat="result in searchResults">
            <td>
                <h4><a href="{{result.videoId}}">{{result.title}}</a></h4>
                {{result.description}}
            </td>
            <td><img src="{{result.thumbnail}}"></td>
        </tr>
    </table>
}